.popper_content{
    display: flex;
    flex-direction: column;
    gap: 3px;
     overflow-y: scroll;
    height: 30vh;
    width: 30vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options_wrapper{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0.5rem;
    justify-content: flex-start;
}

.options_wrapper span{
    color: gray;
    padding: 0.5rem;
}

.options_wrapper span:hover{
  background-color: rgb(24, 163, 243);
  color: white;
  border-radius: 2px;
}

.popper_btn{
    background: rgb(12, 155, 211);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


/* media queries for mobile devices */

@media screen  and (max-width:480px) {
    .popper_content{
      width: 60%;
      height: 50vh;
    }
}