.input_wrapper{
    /* width: 60vw; */
    /* background: red; */
}

.input_wrapper input{
    /* display: flex;
    width: 100%;
    z-index: 9999;
    border-radius: 5px;
    width: 100%;
   padding-left: 1rem;
   padding: 0.5rem;
    border: 2px solid rgb(220, 220, 220); */
}

.input_wrapper input:focus{
    outline: none;
    border: 1px solid rgb(23, 159, 231);
}

/* media queries for mobile devices */

@media screen  and (max-width:480px) {
    .input_wrapper input{
      /* width: 100%; */
    }
}